<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cirtech.littlestar">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
<!--        <activity android:name=".PracticeAnimalsColorsActivity"></activity>-->
<!--        <activity android:name=".activities.PracticeColorsActivity" />-->
<!--        <activity android:name=".activities.PracticeAnimalsActivity" />-->
        <activity
            android:name=".splashScreen.MainScreen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TipoActivity">

        </activity>
        <activity android:name=".activities.ListaAtividadesActivity"/>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.CadastroActivity"/>

<!--        <activity-->
<!--            android:name=".splashScreen.MainScreen"-->
<!--            android:theme="@style/AppTheme.Fullscreen">-->
<!--        </activity>-->
       <activity android:name=".activities.TheoricalAnimalActivity"/>
        <activity android:name=".activities.TheoricalColorsActivity"/>
        <activity android:name=".activities.TheoricalAnimalsColorsActivity">
        </activity>


        <activity android:name=".activities.PracticeAnimalsActivity"/>
        <activity android:name=".activities.PracticeColorsActivity"/>
        <activity android:name=".activities.PracticeAnimalsColorsActivity"/>


        <!--        <activity android:name=".activities.PraticaActivity" />-->
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>